@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.wrapper {
    position: absolute;
    width: 100%;
    min-width: 325px;
    right: -15px;
    top: 50px;
    height: 677px;
    background-color: yellow;
    padding: 0 16px;
}

.cartTitle {
    margin-top: 32px;
    font-size: 16px;
    color: #1D1F22;
}

.heading {
    font-weight: 700;
}

.descriptions {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 20px;
    width: 70%;
}

.imageCounter {
    display: flex;
    width: 30%;
    gap: 8px;
}

.productData p {
  font-weight: 300;
  font-size: 16px;
  color: #1D1F22;
  line-height: 26px;
  width: 100px;
}

.productData span {
    font-weight: bold;
    font-size: 16px;
    color: #1D1F22;
    margin-top: 10px;
    display: block;
}

.headings {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #1D1F22
}

.productSize, .productColor {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    margin-top: -8px;
}

.productSize span {
    border: 1px solid #1D1F22;
    text-align: center;
    width: 24px;
    padding: 2px 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 400;
}

.productSize span:hover {
    background-color: #1D1F22;
    color: white;
}

.input {
	border: none;
    outline: none;
	width: 16px;
	height: 16px;
}

.input::-webkit-color-swatch-wrapper {
	padding: 0;
}

.input::-webkit-color-swatch {
	border: none;
}

.productImg {
    width: 100%;
    min-width: 115px;
    height: 100%;
    object-fit: cover;
}

