@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #1D1F22;
  font-weight: 400;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

